<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="dark">
    <p class="ion-text-center ion-padding-top"> Wammer Turns Sharing Fun Photos and Videos With your Friends Into a Game</p>
  </ion-text>
  <form class="ion-padding">
    <ion-item lines="full">
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
  </form>
  <ion-text color="dark">
    <p class="ion-text-center ion-padding-top ion-padding-start ion-padding-end">By continuing you agree to the Wammer <a href="">Terms of Service</a> and <a href="">Privacy Policy</a>.</p>
  </ion-text>
</ion-content>
<ion-footer >
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-button >Back</ion-button>
        <ion-button >Next</ion-button>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>